### Python Conditional Statements and loops

#### 1. Write a Python program to construct the following pattern, using a nested for loop. 

(double click here to see pattern)

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

#### 2. Write a Python program to count the number of even and odd numbers from a series of numbers. 
* Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
##### Expected Output : 
* Number of even numbers : 5
* Number of odd numbers : 4

In [1]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd = 0
even = 0 
for i in numbers:
    if i%2 ==0:
        even += 1
    else:
        odd += 1
print(f'even = {even}')
print(f'odd = {odd}')

even = 4
odd = 5

####  3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
* Note : Use 'continue' statement. 
* Expected Output : 0 1 2 4 5

In [2]:
for i in range(0,7):
    if i in (3,6):
        continue
    else:
        print(i)

0
1
2
4
5

#### 4. Write a Python program to get the Fibonacci series between 0 to 50. 
##### Note : The Fibonacci Sequence is the series of numbers :
* 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
* Every next number is found by adding up the two numbers before it.
* Expected Output : 1 1 2 3 5 8 13 21 34

In [9]:
a,b,c=0,1,0
for i in range(10):
    print(a,end = ' ')
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34

#### 5. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 

##### Note :
* i = 0,1.., m-1 
* j = 0,1, n-1.

* Test Data : Rows = 3, Columns = 4 
* Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [20]:
m = int(input())
n = int(input())
ans = []
list1 = []
for i in range(m):
    temp = []
    idx = 0
    ans = []
    for j in range(n):
        ans.append(idx)
        idx+=i
    list1.append(ans)
print(list1)

3
4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

#### 6. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [21]:
for i in range(100,401):
    if i%2 == 0:
        print(i,end=',')

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,

 #### 7. Write a Python program to print alphabet pattern 'A'.

In [68]:
# 12345*
# 1234*6*
# 123*567*
#   * * * *
#  *       *
# *         *
no = 6
for i in range(no):
    if (i == (no//2)):
        print(' '*(no-i),'* '*((no//2)+1),end='')
    else:
        print(' '*(no-i),'*',end='')
    if i != 0 and(i != (no//2)):
        print(' '*((i*2)-2),'*',end='')
    print()

       *
      * *
     *   *
    * * * *
   *       *
  *         *

#### 8. Write a Python program to print alphabet pattern 'P'

3

#### 9. Write a Python program to check a triangle is valid or not.

#### 10. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [74]:
no = int(input())
for i in range(1,11):
    print(no,'*',i,'=',i*no)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#### 11. Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [77]:
for i in range(1,10):
    print(str(i)*i,end=' ')

1 22 333 4444 55555 666666 7777777 88888888 999999999