# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris = pd.read_csv('iris.csv')

### Step 4. Create columns for the dataset

In [3]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.rename(columns = {"SepalLengthCm":"Sepal_length", "SepalWidthCm":"Sepal_width", "PetalLengthCm":"Petal_length",
                      "PetalWidthCm":"Petal_width", "Species":"class"}, inplace = True)

### Step 5.  Is there any missing value in the dataframe?

In [4]:
iris.loc[1,:].isnull().sum()

0

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [5]:
iris.Petal_length.iloc[10:30].isnull()

10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Petal_length, dtype: bool

### Step 7. Good, now lets substitute the NaN values to 1.0

In [6]:
iris.fillna(1.0)

      Id  Sepal_length  Sepal_width  Petal_length  Petal_width           class
0      1           5.1          3.5           1.4          0.2     Iris-setosa
1      2           4.9          3.0           1.4          0.2     Iris-setosa
2      3           4.7          3.2           1.3          0.2     Iris-setosa
3      4           4.6          3.1           1.5          0.2     Iris-setosa
4      5           5.0          3.6           1.4          0.2     Iris-setosa
..   ...           ...          ...           ...          ...             ...
145  146           6.7          3.0           5.2          2.3  Iris-virginica
146  147           6.3          2.5           5.0          1.9  Iris-virginica
147  148           6.5          3.0           5.2          2.0  Iris-virginica
148  149           6.2          3.4           5.4          2.3  Iris-virginica
149  150           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 6 columns]

### Step 8. Now let's delete the column class

In [7]:
iris.drop(columns = 'class', inplace = True)
iris

      Id  Sepal_length  Sepal_width  Petal_length  Petal_width
0      1           5.1          3.5           1.4          0.2
1      2           4.9          3.0           1.4          0.2
2      3           4.7          3.2           1.3          0.2
3      4           4.6          3.1           1.5          0.2
4      5           5.0          3.6           1.4          0.2
..   ...           ...          ...           ...          ...
145  146           6.7          3.0           5.2          2.3
146  147           6.3          2.5           5.0          1.9
147  148           6.5          3.0           5.2          2.0
148  149           6.2          3.4           5.4          2.3
149  150           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

### Step 9.  Set the first 3 rows as NaN

In [1]:
iris = iris[iris.isna()].drop(columns = iris.columns.isnull())

NameError: name 'iris' is not defined

### Step 10.  Delete the rows that have NaN

In [21]:
# iris

### Step 11. Reset the index so it begins with 0 again

In [33]:
iris.reset_index().drop(columns = 'index', inplace = True)
iris

      Id  Sepal_length  Sepal_width  Petal_length  Petal_width
0      1           5.1          3.5           1.4          0.2
1      2           4.9          3.0           1.4          0.2
2      3           4.7          3.2           1.3          0.2
3      4           4.6          3.1           1.5          0.2
4      5           5.0          3.6           1.4          0.2
..   ...           ...          ...           ...          ...
145  146           6.7          3.0           5.2          2.3
146  147           6.3          2.5           5.0          1.9
147  148           6.5          3.0           5.2          2.0
148  149           6.2          3.4           5.4          2.3
149  150           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

### BONUS: Create your own question and answer it.