# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('drinks.csv', sep = '\t')

### Step 4. Which continent drinks more beer on average?

In [97]:
# drinks[drinks[drinks.beer_servings > drinks.beer_servings.mean()]]
mean_data = drinks.groupby('continent').beer_servings.sum().mean()
beer_data = drinks.groupby('continent')[['beer_servings']].sum().reset_index('continent')
beer_data[beer_data.beer_servings.astype(float) > mean_data][['continent']].iloc[0][0]

'Europe'

### Step 5. For each continent print the statistics for wine consumption.

In [57]:
drinks.groupby('continent')[['wine_servings']].describe()

              wine_servings                                                   \
                      count        mean        std  min   25%    50%     75%
continent
Africa                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
Asia                   44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
Europe                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
North America          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00
Oceania                16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
South America          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


                 max
continent
Africa         233.0
Asia           123.0
Europe         370.0
North America  100.0
Oceania        212.0
South America  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [101]:
drinks.groupby('continent')[['total_litres_of_pure_alcohol']].mean()

               total_litres_of_pure_alcohol
continent
Africa                             3.007547
Asia                               2.170455
Europe                             8.617778
North America                      5.995652
Oceania                            3.381250
South America                      6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [102]:
drinks.groupby('continent')[['total_litres_of_pure_alcohol']].median()

               total_litres_of_pure_alcohol
continent
Africa                                 2.30
Asia                                   1.20
Europe                                10.00
North America                          6.30
Oceania                                1.75
South America                          6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [113]:
mean_spirit = drinks['spirit_servings'].mean()
min_spirit = drinks['spirit_servings'].min()
max_spirit = drinks['spirit_servings'].max()
print(f'mean = {mean_spirit}\nmin = {min_spirit}\nmax = {max_spirit}')

mean = 80.99481865284974
min = 0
max = 438