# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
import random
series1 = np.random.randint(1,5,100)
series2 = np.random.randint(1,4,100)
series3 = np.random.randint(10000,30000,100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
house = pd.DataFrame(index = [series1,series2,series3]).reset_index()
house

    level_0  level_1  level_2
0         3        3    13341
1         3        2    14378
2         4        2    28532
3         1        1    25895
4         2        1    25938
..      ...      ...      ...
95        4        3    18962
96        3        3    13550
97        4        1    16121
98        4        1    18566
99        3        2    17512

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
house.rename(columns = {"level_0": "bedrs", "level_1":"bathrs", "level_2":"price_sqr_meter"}, inplace = True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [16]:
house_column = pd.concat([house.bedrs,house.bathrs,house.price_sqr_meter])
house_column

0         3
1         3
2         4
3         1
4         2
      ...
95    18962
96    13550
97    16121
98    18566
99    17512
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [18]:
len(house_column)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [28]:
house_column.reset_index(inplace = True, drop = True)
house_column

0          3
1          3
2          4
3          1
4          2
       ...
295    18962
296    13550
297    16121
298    18566
299    17512
Length: 300, dtype: int64