In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random

In [2]:
random.seed(500)

In [3]:
names = ['Bob','Jessica','Mary','John','Mel']

In [4]:
ans = random.randint(0, len(names))
ans

3

In [5]:
random_names = [names[random.randint(0, len(names)-1)] for i in range(1000)]

In [6]:
total_births = [random.randint(0, 1000) for i in range(1000)]

In [7]:
random_names[:10]

['Mel', 'Mel', 'John', 'Mary', 'John', 'Jessica', 'Bob', 'Mary', 'Mel', 'Bob']

In [8]:
BabyDataSet = list(zip(random_names, total_births))

In [9]:
BabyDataSet[:10]

[('Mel', 330),
 ('Mel', 402),
 ('John', 499),
 ('Mary', 118),
 ('John', 7),
 ('Jessica', 20),
 ('Bob', 833),
 ('Mary', 580),
 ('Mel', 534),
 ('Bob', 903)]

In [10]:
df = pd.DataFrame(data = BabyDataSet, columns=['name','birth'])

In [12]:
df

        name  birth
0        Mel    330
1        Mel    402
2       John    499
3       Mary    118
4       John      7
..       ...    ...
995     Mary    961
996  Jessica    377
997     John    481
998      Mel    739
999      Mel    521

[1000 rows x 2 columns]

In [15]:
df.to_csv('Pra2.csv')

In [16]:
df.to_excel('pra2.xlsx')

In [17]:
import os
os.remove('pra2.xlsx')

In [22]:
list(df['name'].unique())

['Mel', 'John', 'Mary', 'Jessica', 'Bob']

In [24]:
df['name'].value_counts()

Mary       220
Mel        210
John       204
Jessica    186
Bob        180
Name: name, dtype: int64

In [33]:
names = df.groupby('name').sum()
names

          birth
name
Bob       95765
Jessica   91582
John     101883
Mary     115707
Mel      104295

In [37]:
df.sort_values('birth', ascending = False)

        name  birth
600     Mary   1000
923      Mel    999
646     Mary    998
11   Jessica    998
963     Mary    998
..       ...    ...
4       John      7
942     Mary      7
557      Bob      5
944     Mary      5
623     John      1

[1000 rows x 2 columns]

In [43]:
df['name'].plot.bar()

TypeError: no numeric data to plot